.hello{
    text-align: center;
}
.link{
    float: left;
    padding: 10px;
    font-weight: bold;
    border: solid;
    border-radius: 5px;
    margin: 3px;
    cursor:pointer;
}



.link:hover{
 background-color: white;
}
.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    


    
}